<!DOCTYPE html>
<html lang="en">

<head>
	<title>Homohouse | Thuê trọ đơn giản</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<!--===============================================================================================-->

	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}

		* {
			box-sizing: border-box;
		}

		.form-popup {
			display: none;
			position: fixed;
			bottom: 0;
			right: 15px;
			border: 3px solid #f1f1f1;
			z-index: 9;
		}

		/* Add styles to the form container */
		.form-container {
			margin-left: 48px;
			margin-top: 10px;
			margin-bottom: 10px;
			max-width: 400px;
			padding: 0px;
			background-color: white;
		}

		/* Full-width input fields */
		.form-container input[type=text],
		.form-container input[type=tel] {
			width: 100%;
			padding: 15px;
			margin: 25px 0 22px 0;
			border: none;
			background: #f1f1f1;
		}

		.modal-title {
			margin-bottom: 0;
			line-height: 1.5;
			margin: auto;
		}

		/* When the inputs get focus, do something */
		.form-container input[type=email]:focus
		.form-container input[type=text]:focus
		.form-container input[type=tel]:focus {
			background-color: #ddd;
			outline: none;
		}
		

		/* Set a style for the submit/login button */
		.form-container .btn {
			background-color: #1d1a42;
			color: white;
			padding: 16px 20px;
			border: none;
			cursor: pointer;
			width: 100%;
			margin-bottom: 10px;
			opacity: 0.8;
		}

		h4 { color: #b48608; font-family: 'Droid serif', serif; font-size: 36px; font-weight: 400; line-height: 44px; text-align: center; }


		h3 {
			margin: 78px;
			margin-left: 35px;
			margin-right: -6px;
			margin-top: 22px;
			padding-right: 6px;
			margin-bottom: 68px;
			display: flow-root;
		}

		h3 {
			color: #f1f1f1;
		}

		p {
			margin: 40px;
		}

		/* Add a red background color to the cancel button */
		.form-container .cancel {
			background-color: #6e6a75;
		}

		/* Add some hover effects to buttons */
		.form-container .btn:hover,
		.open-button:hover {
			opacity: 1;
		}

		.modal-body {
			position: relative;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			padding: 0px;
			border-bottom: 1px solid #e9ecef;
		}

		.register {
			margin-top: 10px;
			margin-bottom: 15px;
		}

		.modal-header {
			background: #0f0c29;
			/* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
			/* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
			/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
	</style>

</head>

<body>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 style="color:#ddd" class="modal-title" id="exampleModalLabel">Đăng ký</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/" method="POST" class="form-container">
						<div class="modal-body">
							<span>Chúng tôi vẫn đang hoàn thiện dịch vụ, bạn vui lòng nhập thông tin để chúng tôi có thể
								liên hệ lại với bạn sớm nhất</span>
						</div>
						<input type="text" hidden value="" name="couter" id="couter_input">
						<input type="text" placeholder="Nhập tên của bạn" name="name" required>
						<input type="text" placeholder="Email của bạn" name="email" required>
						<input type="tel" placeholder="SDT của bạn" name="phone" required="required">
						<button type="submit" class="btn">Đăng ký</button>
						<button type="button" class="btn cancel" data-dismiss="modal"
							onclick="count_close();">Đóng</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--  -->
	<div class="simpleslide100">
		<div class="simpleslide100-item bg-img1" style="background-image: url('images/bg15.jpg');"></div>
		<!-- <div class="simpleslide100-item bg-img1" style="background-image: url('images/bg07.jpg');"></div>
		<div class="simpleslide100-item bg-img1" style="background-image: url('images/bg16.jpg');"></div>
		<div class="simpleslide100-item bg-img1" style="background-image: url('images/bg07.jpg');"></div> -->
	</div>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 style="color: #ddd; margin: auto">Dịch vụ đăng phòng</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h4>Khi bạn cho thuê phòng thành công qua hệ thống Homohouse bạn có thể phải trả phí</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="cancel-register" data-dismiss="modal"
						onclick="count();">Không đồng ý</button>
					<button style="margin-left: .25rem;
					padding-left: 40px;
					padding-right: 35px;
					margin-right: 104px;" id="bt_yes" type="button" class="btn btn-success" data-toggle="modal"
						data-target="#exampleModal" onclick="submit_count(); openForm(); count_agree()">Đồng ý</button>
					<!-- <p>Clicks: <a id="clicks">0</a></p> -->
				</div>
			</div>
		</div>

	</div>

	<div class="flex-col-c-sb size1 overlay1 p-l-75 p-r-75 p-t-20 p-b-40 p-lr-15-sm">
		<!--  -->
		<div class="w-full flex-w flex-sb-m">
			<div class="wrappic1 m-r-30 m-t-10 m-b-10">
				<a href="#"><img src="/images/icons/logo3.png" alt="LOGO"></a>
			</div>
		</div>

		<div class="content">
			<div class="flex-col-c-m p-l-15 p-r-15 p-t-80 p-b-90">
				<h3 class="l1-txt2 txt-center p-b-55 respon1">
					Homohouse
				</h3>
				<h5 style="margin-top: -76px; color: #f1f1f1;margin-bottom: 10px;">Thuê trọ đơn giản</h5>
				<h4 style="color: #f1f1f1;" class="mb-4 mt-3">Website hỗ trợ đăng-quản lý và cho thuê phòng trọ</h4>
				<div>
					<a href="#" class="size2 s1-txt1 flex-c-m how-btn1 trans-04" data-toggle="modal"
						data-target="#exampleModalCenter">
						Đăng Phòng
					</a>
				</div>
			</div>
		</div>


		<div class="flex-sb-m flex-w w-full">
			<!--  -->
			<div class="flex-w flex-c-m m-t-10 m-b-10">
				<a href="https://www.facebook.com/hoangf.1102" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-3 m-t-3">
					<i class="fa fa-facebook"></i>
				</a>

				<a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-3 m-t-3">
					<i class="fa fa-twitter"></i>
				</a>

				<a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-3 m-t-3">
					<i class="fa fa-youtube-play"></i>
				</a>
			</div>
		</div>
	</div>
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/select2/select2.min.js"></script>
	<script src="/vendor/countdowntime/moment.min.js"></script>
	<script src="/vendor/countdowntime/moment-timezone.min.js"></script>
	<script src="/vendor/countdowntime/moment-timezone-with-data.min.js"></script>
	<script src="/vendor/countdowntime/countdowntime.js"></script>
	<script>
		function openForm() {
				if (typeof (Storage) !== "undefined") {
					if (localStorage.clickcount) {
						localStorage.clickcount = Number(localStorage.clickcount) + 1;
					} else {
						localStorage.clickcount = 1;
					}
					document.getElementById("result").innerHTML = "" + localStorage.clickcount + " time(s).";
				} else {
					document.getElementById("result").innerHTML = "";
				}
				document.getElementById("exampleModal").style.display = "block";
				$('#exampleModalCenter').modal('toggle');
			}
	
			function closeForm() {
				document.getElementById("myForm").style.display = "none";
			}
	
			function submit_count() {
				$(document).ready(function () {
					$("#couter_input").val(localStorage.clickcount);
					console.log($("#couter_input").val());
	
				});
			}
	
			function count_no() {
				if (typeof (Storage) !== "undefined") {
					if (localStorage.clickcountno) {
						localStorage.clickcountno = Number(localStorage.clickcountno) + 1;
					} else {
						localStorage.clickcountno = 1;
					}
				}
			}
			function count() {
				$(document).ready(function () {
					count_no();
					let data_no = { value: localStorage.clickcountno };
					$.ajax({
						url: 'https://homohouse.firebaseio.com/counter/couter_no.json',
						type: "patch",
						data: JSON.stringify(data_no),
						success: function () {
						}
					});
				});
			}
	
			function count_cls() {
				if (typeof (Storage) !== "undefined") {
					if (localStorage.clickcountcls) {
						localStorage.clickcountcls = Number(localStorage.clickcountcls) + 1;
					} else {
						localStorage.clickcountcls = 1;
					}
				}
			}
	
			function count_close() {
				$(document).ready(function () {
					count_cls();
					let data_no = { value: localStorage.clickcountcls };
					$.ajax({
						url: 'https://homohouse.firebaseio.com/counter/counter_close.json',
						type: "patch",
						data: JSON.stringify(data_no),
						success: function () {
						}
					});
				});
			}
	
	
			function count_sbm() {
				if (typeof (Storage) !== "undefined") {
					if (localStorage.clickcountsubmit) {
						localStorage.clickcountsubmit = Number(localStorage.clickcountsubmit) + 1;
					} else {
						localStorage.clickcountsubmit = 1;
					}
				}
			}
	
			function count_submit() {
				$(document).ready(function () {
					count_sbm();
					let data_no = { value: localStorage.clickcountsubmit };
					$.ajax({
						url: 'https://homohouse.firebaseio.com/counter/counter_submit.json',
						type: "patch",
						data: JSON.stringify(data_no),
						success: function () {
						}
					});
				});
			}
	
	
			function count_yes() {
				if (typeof (Storage) !== "undefined") {
					if (localStorage.clickcountyes) {
						localStorage.clickcountyes = Number(localStorage.clickcountyes) + 1;
					} else {
						localStorage.clickcountyes = 1;
					}
				}
			}
	
			function count_agree() {
				$(document).ready(function () {
					count_yes();
					let data_no = { value: localStorage.clickcountyes };
					$.ajax({
						url: 'https://homohouse.firebaseio.com/counter/counter_yes.json',
						type: "patch",
						data: JSON.stringify(data_no),
						success: function () {
						}
					});
				});
			}
	
	
		</script>
	<script src="/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<div id="result"></div>
</body>

</html>